<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/MyDataSource" auth="Container" type="javax.sql.DataSource"
              maxTotal="100" maxIdle="30" maxWaitMillis="10000" removeAbandoned="true"
              removeAbandonedTimeout="60" logAbandoned="true"
              username="root" password="7897"
              driverClassName="com.mysql.cj.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/registro_desafioweb" />
</Context>